<form ng-submit="onSubmitClick()">
	<div id="statusMsg"><alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.content}}</alert></div>
    <table>
        <thead>
        <tr>
            <td>Medicine Name</td>
            <td>Rack</td>
            <td>Quantity</td>
            <td>Rate</td>
            <td>Price</td>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="row in rowList">
            <td><input pattern=".*[^ ].*" required autofocus type="text" ng-keyup="onSearchClick()" autocomplete="on" ng-model="row.name" placeholder="Please enter medicine name..."/></td>
            <td><input pattern=".*[^ ].*" required type="text" ng-model="row.rack" placeholder="Please enter rack..."/></td>
            <td><input required type="number" min="0" ng-model="row.quant" ng-blur="calculatePrice(row)" placeholder="Please enter quantity..."/></td>
            <td><input required type="number" min="0" ng-model="row.rate" ng-blur="calculatePrice(row)" placeholder="Please enter rate..."/></td>
            <td><input disabled type="text" ng-model="row.price"/></td>
        </tr>
        <tr>
            <td colspan="5" align="right">Bill Amount: {{totalPrice}}</td>
        </tr>
        <tr>
            <td align="center" colspan="5"><button type="submit">Generate Bill</button></td>
        </tr>
        </tbody>

    </table>
</form>